<%- include('partials/header') %>
<h1>Support Tickets</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Customer ID</th>
      <th>Description</th>
      <th>Handled</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% tickets.forEach(ticket => { %>
      <tr>
        <td><a href="/support-ticket/<%= ticket.id %>"><%= ticket.id %></a></td>
        <td><%= ticket.customer_id %></td>
        <td><%= ticket.description %></td>
        <td><%= ticket.handled %></td>
        <td><%= ticket.status %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<%- include('partials/footer') %>
